html {
  font-size: 62.5%; }

body {
  font-size: 1.6em;
  font-family: "Noto Sans JP";
  list-style: none;
  text-decoration: none; }
  @media screen and (max-width: 414px) {
    body {
      font-size: 1rem; } }

#header {
  width: 100%;
  background: #2a64ff;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5; }

#main {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#footer {
  width: 100%;
  background: #2a64ff;
  color: #fff;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    #footer {
      width: 100%;
      padding: 10px; } }

a {
  color: #fff;
  display: block;
  text-decoration: none; }

a:hover {
  color: red;
  cursor: pointer; }

.header-logo {
  font-size: 5rem;
  padding: 20px; }
  @media screen and (max-width: 414px) {
    .header-logo {
      font-size: 2.5rem;
      padding: 10px; } }

@media screen and (max-width: 414px) {
  .header-nav {
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.85);
    padding-top: 50px;
    position: absolute;
    top: 0;
    right: -100%;
    display: block; }
    .header-nav.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 8; }
    .header-nav.close {
      transition: .5s;
      transform: translateX(100%);
      z-index: 8; } }

.header-trigger {
  display: none; }
  @media screen and (max-width: 414px) {
    .header-trigger {
      width: 40px;
      height: 30px;
      box-sizing: border-box;
      position: relative;
      transition: all .4s;
      z-index: 9;
      display: inline-block; } }
  .header-trigger span {
    width: 100%;
    height: 4px;
    background-color: #484848;
    position: absolute;
    left: -30px;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    transition: all .4s; }
    .header-trigger span:nth-of-type(1) {
      top: 0; }
    .header-trigger span:nth-of-type(2) {
      top: 14px; }
    .header-trigger span:nth-of-type(3) {
      bottom: 0; }
  .header-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .header-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  .header-trigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }
  .header-trigger.close span:nth-of-type(1) {
    transform: translateY(0px) rotate(0deg); }
  .header-trigger.close span:nth-of-type(2) {
    opacity: 1; }
  .header-trigger.close span:nth-of-type(3) {
    transform: translateY(0px) rotate(0deg); }

.header-menu {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 414px) {
    .header-menu {
      display: block;
      text-align: center; } }

.header-item {
  font-size: 2rem;
  margin-right: 40px; }
  @media screen and (max-width: 414px) {
    .header-item {
      margin-right: 0px; } }

@media screen and (max-width: 414px) {
  .header-link {
    color: #000;
    margin: 50px 0; } }

.header-contact {
  background: #01c11e;
  padding: 15px;
  border-radius: 5px;
  text-align: center; }
  @media screen and (max-width: 414px) {
    .header-contact {
      background: none; } }

.top-container {
  width: 100%;
  height: 700px;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  @media screen and (max-width: 414px) {
    .top-container {
      width: 100%;
      height: 600px; } }

.hero-text {
  background: #000;
  color: #fff;
  font-size: 6rem;
  padding: 10px;
  border-radius: 5px;
  z-index: 1; }
  @media screen and (max-width: 414px) {
    .hero-text {
      background: none;
      font-size: 2.3rem;
      animation: fadeInLeft 3s; } }

.hero-text1 {
  position: absolute;
  top: 400px;
  left: 150px; }
  @media screen and (max-width: 414px) {
    .hero-text1 {
      top: 270px;
      left: 10px; } }

.hero-text2 {
  position: absolute;
  top: 490px;
  left: 150px; }
  @media screen and (max-width: 414px) {
    .hero-text2 {
      top: 300px;
      left: 10px; } }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.middle-container {
  width: 100%; }

.infomation-area {
  width: 100%;
  height: 500px;
  padding: 50px;
  margin: 80px 0;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    .infomation-area {
      height: auto;
      padding: 10px;
      margin: 50px 0;
      box-sizing: border-box; } }

.infomation-logo {
  width: 20%;
  font-size: 5rem;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(135deg, #2a64ff 20px, transparent 0), linear-gradient(-45deg, #2a64ff 20px, transparent 0); }
  @media screen and (max-width: 414px) {
    .infomation-logo {
      width: 40%;
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto; } }

.infomation-box {
  width: 650px;
  height: 200px;
  background: white;
  color: #000;
  font-size: 1.5rem;
  padding: 25px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 8px #000;
  overflow-y: scroll; }
  @media screen and (max-width: 414px) {
    .infomation-box {
      width: 60%;
      height: 300px;
      margin: 0 auto; } }

.infomation-news {
  color: #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px dashed #a39e9e; }

.infomation-date {
  margin: 0 20px; }
  @media screen and (max-width: 414px) {
    .infomation-date {
      color: #f00;
      margin: 0 60px; } }

.infomation-past {
  font-size: 2rem;
  font-weight: bold;
  color: #2a64ff;
  margin-top: 40px;
  text-align: center;
  display: block; }
  @media screen and (max-width: 414px) {
    .infomation-past {
      font-size: 1.5rem;
      margin-top: 40px;
      display: block; } }

.service-area {
  width: 100%;
  background: rgba(148, 214, 255, 0.26);
  padding: 50px;
  margin-bottom: 80px;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    .service-area {
      width: 100%;
      padding: 40px 10px 10px 10px;
      margin: 30px 0;
      box-sizing: border-box; } }

.service-logo {
  width: 30%;
  font-size: 5rem;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(135deg, #2a64ff 20px, transparent 0), linear-gradient(-45deg, #2a64ff 20px, transparent 0); }
  @media screen and (max-width: 414px) {
    .service-logo {
      width: 50%;
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto; } }

.service-box {
  width: 95%;
  background: white;
  color: #000;
  font-size: 1.5rem;
  padding: 25px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 5px; }
  @media screen and (max-width: 414px) {
    .service-box {
      width: 80%;
      color: #000;
      font-size: 1rem;
      padding: 10px;
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 5px; } }
  .service-box-explanation {
    width: 100%;
    display: flex; }
    @media screen and (max-width: 414px) {
      .service-box-explanation {
        display: block; } }
    .service-box-explanation_text {
      width: 100%;
      color: #535353;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 35px;
      padding: 20px;
      margin-right: 5px;
      text-align: left;
      box-sizing: border-box; }
      @media screen and (max-width: 414px) {
        .service-box-explanation_text {
          width: 100%;
          font-size: 1.3rem;
          padding: 10px;
          margin: 0;
          display: block; } }
    .service-box-explanation_icons {
      width: 50%;
      margin-left: 5px;
      box-sizing: border-box;
      position: relative; }
      @media screen and (max-width: 414px) {
        .service-box-explanation_icons {
          width: 50%;
          position: relative;
          display: block; } }
      .service-box-explanation_icons .fa-border {
        border-color: #6c6c6c; }
      .service-box-explanation_icons .icon {
        font-size: 5rem;
        padding: 10px;
        border-radius: 30%; }
        @media screen and (max-width: 414px) {
          .service-box-explanation_icons .icon {
            font-size: 3rem;
            padding: 5px;
            border-radius: 30%; } }
        .service-box-explanation_icons .icon:nth-child(1) {
          position: absolute;
          top: 30px;
          left: 70px; }
          @media screen and (max-width: 414px) {
            .service-box-explanation_icons .icon:nth-child(1) {
              position: absolute;
              top: 10px;
              left: 10px; } }
        .service-box-explanation_icons .icon:nth-child(2) {
          position: absolute;
          top: 30px;
          left: 200px; }
          @media screen and (max-width: 414px) {
            .service-box-explanation_icons .icon:nth-child(2) {
              position: absolute;
              top: 10px;
              left: 90px; } }
        .service-box-explanation_icons .icon:nth-child(3) {
          position: absolute;
          top: 30px;
          left: 340px; }
          @media screen and (max-width: 414px) {
            .service-box-explanation_icons .icon:nth-child(3) {
              position: absolute;
              top: 10px;
              left: 180px; } }
        .service-box-explanation_icons .icon:nth-child(4) {
          position: absolute;
          top: 130px;
          left: 120px; }
          @media screen and (max-width: 414px) {
            .service-box-explanation_icons .icon:nth-child(4) {
              position: absolute;
              top: 80px;
              left: 40px; } }
        .service-box-explanation_icons .icon:nth-child(5) {
          position: absolute;
          top: 130px;
          left: 260px; }
          @media screen and (max-width: 414px) {
            .service-box-explanation_icons .icon:nth-child(5) {
              position: absolute;
              top: 80px;
              left: 130px; } }
  .service-box-solid {
    width: 35%;
    height: 65px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2a64ff;
    padding: 5px;
    margin: 40px auto 10px;
    border: 1px solid #2a64ff;
    box-sizing: border-box;
    text-align: center; }
    @media screen and (max-width: 414px) {
      .service-box-solid {
        width: 100%;
        margin: 150px auto 10px; } }
    .service-box-solid:hover {
      background: #2a64ff; }
    .service-box-solid:hover a {
      color: #fff;
      background-image: linear-gradient(-45deg, #fff 10px, transparent 0); }
    .service-box-solid-jump {
      width: 100%;
      color: #2a64ff;
      padding: 1px;
      line-height: 50px;
      text-align: center;
      box-sizing: border-box;
      display: block;
      background-image: linear-gradient(-45deg, #2a64ff 10px, transparent 0); }

.points-area {
  width: 100%;
  padding: 50px;
  margin-bottom: 80px;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    .points-area {
      width: 100%;
      padding: 20px;
      margin-bottom: 30px; } }

.points-logo {
  width: 60%;
  font-size: 5rem;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(135deg, #2a64ff 20px, transparent 0), linear-gradient(-45deg, #2a64ff 20px, transparent 0); }
  @media screen and (max-width: 414px) {
    .points-logo {
      width: 90%;
      margin: 0 auto 120px;
      font-size: 2rem; } }

.points-box {
  width: 90%;
  height: 250px;
  padding: 50px;
  margin: 30px auto;
  display: flex; }
  @media screen and (max-width: 414px) {
    .points-box {
      width: 90%;
      height: auto;
      padding: 10px;
      margin: 10px auto;
      display: block; } }
  .points-box-item1 {
    width: 40%;
    position: relative; }
    @media screen and (max-width: 414px) {
      .points-box-item1 {
        width: 100%; } }
    .points-box-item1-circle1 {
      width: 80%;
      border-radius: 50%;
      position: absolute;
      top: -60px; }
      @media screen and (max-width: 414px) {
        .points-box-item1-circle1 {
          width: 40%;
          height: 100px;
          position: absolute;
          top: -110px;
          left: -30px; } }
    .points-box-item1-circle2 {
      width: 80%;
      height: 350px;
      border-radius: 50%;
      position: absolute;
      top: -60px; }
      @media screen and (max-width: 414px) {
        .points-box-item1-circle2 {
          width: 40%;
          height: 100px;
          position: absolute;
          top: -520px;
          left: 75px; } }
    .points-box-item1-circle3 {
      width: 80%;
      height: 350px;
      border-radius: 50%;
      position: absolute;
      top: -60px; }
      @media screen and (max-width: 414px) {
        .points-box-item1-circle3 {
          width: 40%;
          height: 100px;
          position: absolute;
          top: -840px;
          left: 180px; } }
  .points-box-item2 {
    width: 70%;
    padding: 20px;
    box-sizing: border-box; }
    @media screen and (max-width: 414px) {
      .points-box-item2 {
        width: 100%;
        font-size: 2rem;
        padding: 10px; } }
    .points-box-item2-title {
      font-size: 2.5rem;
      letter-spacing: 2px;
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 2px solid #2a64ff; }
      @media screen and (max-width: 414px) {
        .points-box-item2-title {
          width: 100%;
          font-size: 1rem;
          padding-bottom: 10px;
          margin-top: 10px;
          margin-bottom: 10px; } }
    .points-box-item2 p {
      font-size: 1.7rem;
      line-height: 30px;
      letter-spacing: 2px; }
      @media screen and (max-width: 414px) {
        .points-box-item2 p {
          font-size: 1rem;
          margin-bottom: 20px; } }

.points-use {
  color: #000; }

.customer-area {
  width: 100%;
  background: rgba(148, 214, 255, 0.26);
  padding: 50px;
  margin-bottom: 80px;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    .customer-area {
      width: 100%;
      padding: 10px;
      margin-bottom: 30px; } }

.customer-logo {
  width: 25%;
  font-size: 5rem;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(135deg, #2a64ff 20px, transparent 0), linear-gradient(-45deg, #2a64ff 20px, transparent 0); }
  @media screen and (max-width: 414px) {
    .customer-logo {
      width: 50%;
      font-size: 2rem;
      padding: 10px; } }

.customer-box {
  width: 90%;
  background: white;
  color: #000;
  font-size: 1.5rem;
  padding: 25px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 414px) {
    .customer-box {
      width: 90%;
      padding: 10px; } }

.customer-box1 {
  width: 50%;
  height: 600px;
  padding: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative; }
  @media screen and (max-width: 414px) {
    .customer-box1 {
      width: 100%;
      height: 420px;
      padding: 10px;
      display: block; } }
  .customer-box1-img {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 10px;
    left: 50px; }
    @media screen and (max-width: 414px) {
      .customer-box1-img {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0px;
        left: 1px; } }
  .customer-box1-name {
    width: 482px;
    background: #2a64ff;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    position: absolute;
    top: 310px;
    left: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box1-name {
        width: 100%;
        font-size: 1rem;
        position: absolute;
        top: 150px;
        left: 1px; } }
  .customer-box1-text {
    font-size: 1.7rem;
    position: absolute;
    top: 390px;
    left: 80px;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box1-text {
        width: 100%;
        height: 30px;
        font-size: 1rem;
        position: absolute;
        top: 220px;
        left: 10px; } }

.customer-box2 {
  width: 50%;
  height: 600px;
  padding: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative; }
  @media screen and (max-width: 414px) {
    .customer-box2 {
      width: 100%;
      height: 330px;
      padding: 10px;
      display: block; } }
  .customer-box2-img {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 10px;
    left: 50px; }
    @media screen and (max-width: 414px) {
      .customer-box2-img {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0px;
        left: 1px; } }
  .customer-box2-name {
    width: 482px;
    background: #2a64ff;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    position: absolute;
    top: 310px;
    left: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box2-name {
        width: 100%;
        font-size: 1rem;
        position: absolute;
        top: 150px;
        left: 1px; } }
  .customer-box2-text {
    font-size: 1.7rem;
    position: absolute;
    top: 390px;
    left: 80px;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box2-text {
        width: 100%;
        height: 30px;
        font-size: 1rem;
        position: absolute;
        top: 220px;
        left: 10px; } }

.customer-box3 {
  width: 50%;
  height: 600px;
  padding: 25px;
  box-sizing: border-box;
  padding: 25px;
  box-sizing: border-box;
  position: relative; }
  @media screen and (max-width: 414px) {
    .customer-box3 {
      width: 100%;
      height: 400px;
      padding: 10px;
      display: block; } }
  .customer-box3-img {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 10px;
    left: 50px; }
    @media screen and (max-width: 414px) {
      .customer-box3-img {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0px;
        left: 1px; } }
  .customer-box3-name {
    width: 482px;
    background: #2a64ff;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    position: absolute;
    top: 310px;
    left: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box3-name {
        width: 100%;
        font-size: 1rem;
        position: absolute;
        top: 150px;
        left: 1px; } }
  .customer-box3-text {
    font-size: 1.7rem;
    position: absolute;
    top: 390px;
    left: 80px;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box3-text {
        width: 100%;
        height: 30px;
        font-size: 1rem;
        position: absolute;
        top: 220px;
        left: 10px; } }

.customer-box4 {
  width: 50%;
  height: 600px;
  padding: 25px;
  box-sizing: border-box;
  position: relative; }
  @media screen and (max-width: 414px) {
    .customer-box4 {
      width: 100%;
      height: 300px;
      padding: 10px;
      display: block; } }
  .customer-box4-img {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 10px;
    left: 50px; }
    @media screen and (max-width: 414px) {
      .customer-box4-img {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0px;
        left: 1px; } }
  .customer-box4-name {
    width: 482px;
    background: #2a64ff;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    position: absolute;
    top: 310px;
    left: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box4-name {
        width: 100%;
        font-size: 1rem;
        position: absolute;
        top: 150px;
        left: 1px; } }
  .customer-box4-text {
    font-size: 1.7rem;
    position: absolute;
    top: 390px;
    left: 80px;
    line-height: 20px; }
    @media screen and (max-width: 414px) {
      .customer-box4-text {
        width: 100%;
        height: 30px;
        font-size: 1rem;
        position: absolute;
        top: 220px;
        left: 10px; } }

.contact-area {
  width: 100%;
  padding: 50px;
  padding-bottom: 0;
  margin-bottom: 80px;
  box-sizing: border-box;
  text-align: center; }
  @media screen and (max-width: 414px) {
    .contact-area {
      width: 100%;
      padding: 10px;
      margin-bottom: 30px; } }

.contact-logo {
  width: 25%;
  font-size: 5rem;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(135deg, #2a64ff 20px, transparent 0), linear-gradient(-45deg, #2a64ff 20px, transparent 0); }
  @media screen and (max-width: 414px) {
    .contact-logo {
      width: 50%;
      font-size: 2rem;
      padding: 10px; } }

.contact-form {
  width: 50%;
  margin: 0 auto;
  text-align: left; }
  @media screen and (max-width: 414px) {
    .contact-form {
      width: 90%;
      margin-left: auto;
      margin-right: auto; } }

.contact-name {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 10px; }
  @media screen and (max-width: 414px) {
    .contact-name {
      text-align: center; } }
  .contact-name-box {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
    @media screen and (max-width: 414px) {
      .contact-name-box {
        width: 90%;
        background: #f4f4f4;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px; } }

.contact-mail {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 10px; }
  @media screen and (max-width: 414px) {
    .contact-mail {
      text-align: center; } }
  .contact-mail-box {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
    @media screen and (max-width: 414px) {
      .contact-mail-box {
        width: 90%;
        background: #f4f4f4;
        padding: 10px;
        margin: 0 auto 20px; } }

.contact-select {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 10px; }
  @media screen and (max-width: 414px) {
    .contact-select {
      text-align: center; } }
  .contact-select-box {
    width: 50%;
    font-size: 1.5rem;
    margin-bottom: 50px; }
    @media screen and (max-width: 414px) {
      .contact-select-box {
        width: 100%;
        padding: 10px;
        background: #f4f4f4;
        margin-bottom: 20px;
        border-style: solid; } }

.contact-text {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 10px; }
  @media screen and (max-width: 414px) {
    .contact-text {
      text-align: center; } }
  .contact-text-box {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 30px;
    padding: 10px; }
    @media screen and (max-width: 414px) {
      .contact-text-box {
        width: 90%;
        height: 200px;
        background: #f4f4f4;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px; } }

.contact-box {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .contact-box-submit {
    width: 150px;
    background: none;
    font-size: 1.5rem;
    padding: 10px;
    border-style: solid;
    box-shadow: 0 10px 8px #c1c1c1;
    outline: 0; }
    @media screen and (max-width: 414px) {
      .contact-box-submit {
        width: 90%;
        background: #f4f4f4;
        font-size: 1.5rem;
        padding: 10px;
        border-style: solid;
        box-shadow: none;
        outline: 0; } }
    .contact-box-submit:hover {
      cursor: pointer;
      transform: translateY(5px);
      box-shadow: none; }

.footer-box {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 414px) {
    .footer-box {
      box-sizing: border-box;
      display: block; } }

.footer-item-title {
  font-size: 2rem;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 2px solid #fff;
  text-align: center; }
  @media screen and (max-width: 414px) {
    .footer-item-title {
      font-size: 2.5rem;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block; } }

.footer-item-lists .last {
  margin-bottom: 50px; }

.footer-item-list {
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-align: center; }

.footer-copyright {
  font-size: 1.9rem;
  margin-right: 50px;
  text-align: right; }
  @media screen and (max-width: 414px) {
    .footer-copyright {
      font-size: 1.5rem;
      margin: 0 auto;
      text-align: center; } }
